@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:ital,wght@1,300&family=Roboto:wght@100&display=swap');


p{
color: green;
font-family: 'Bungee Spice', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
}

body{
    background-color: whitesmoke;
}